  body{
    font-family: cursive;
    width: fit-content;
  }
  .capitalize{
    text-transform: capitalize;
  }
  .header{
    
    font-size: 17px;
    font-weight: 700;
  }
  .header img{
    vertical-align: middle;
    padding-left: 3px;
  }
  .header, .footer{
    padding: 10px 0;
    text-align: center;
  }
  .footer img{
    vertical-align: middle;
    float: right;
    padding-right: 10px;
  }
  table{
    padding: 10px;
    background: #333;
    color: #adffff;
  }

  @media print{
    .header,.footer{
      display: none;
    }
    table{color: black;}
    body{
      font-size: 30px;
    }
  }
  